<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="jquery-3.4.1.js"></script>
    <script src="jsonfy.js"></script>
    <title>Title</title>
</head>
<body>
<form method="POST" action="/login">
    <input type="text" value="name" name="username" id="username"/>
    <input type="text" value="password" name="password" id="password"/>
    <input type="email" value="email" name="email" id="email"/>
    <input type="button" onclick="login()" value="login"/>
    <input type="button" onclick="register()" value="register"/>
</form>
</body>
</html>